@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --bg-color1: #412b4a;
      --bg-color2: #1314158f;
      --aqi-1: #d4e157;
      --aqi-2: #ffee58;
      --aqi-3: #ffca28;
      --aqi-4: #ff7043;
      --aqi-5: #ef5350;
    }
  
    * {
      @apply m-0 p-0 box-border;
    }
  
    body {
      @apply min-h-screen text-white font-sans px-4;
      background-color: var(--bg-color1);
    }
  
    hr {
      @apply mb-2;
    }
}


/*------------------------------- header css start------------------------- */
.header {
    @apply sticky top-0 flex justify-between items-center mb-2 py-4;
    background-color: var(--bg-color1);

    h1 {
      @apply text-2xl font-bold;
    }

    #city_input {
      @apply border-none p-3 text-base rounded-full text-white;
      background-color: var(--bg-color2);
    }

    #city_input:focus {
      @apply outline-none;
    }

    #searchBtn {
      @apply border-none text-base p-3 rounded-full bg-black cursor-pointer;
    }

    #locationBtn {
      @apply border-none text-base p-3 rounded-full bg-[#5750ef9e] cursor-pointer;
    }
  }
/*------------------------------- header css end------------------------- */

/*------------------------------- card css -----------------------------*/
.card {
    @apply p-4 rounded-lg mb-4;
    background-color: var(--bg-color2);

    p {
      @apply text-sm text-gray-400;
    }

    h2 {
      @apply text-4xl font-medium;
    }
  }

.weather-data {
    @apply grid gap-3;
    grid-template-columns: repeat(4, 1fr);

    & .weather-left {
        grid-column: span 1;

        & .current-weather {
            @apply flex;
            justify-content: space-between;
            align-items: center;

            & h2 {
                margin: 7px 0;
            }

            & p {
                color: #ffffff;
            }
        }

        & .card-footer p {
            @apply text-sm mb-3;
        }

        & .forecast-item {
            @apply grid mb-4;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;

            & .icon-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }

    & .weather-right {
        grid-column: span 3;

        & h2 {
            @apply mb-3;
        }

        & .highlights {
            @apply grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 15px;

            & .card:nth-of-type(1),
            & .card:nth-of-type(2) {
                grid-column: span 2;
            }

            & .card-head {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                & .air-index {
                    color: #000;
                    padding: 5px 10px;
                    border-radius: 15px;
                }

                & .aqi-1 {
                    background-color: var(--aqi-1);
                }

                & .aqi-2 {
                    background-color: var(--aqi-2);
                }

                & .aqi-3 {
                    background-color: var(--aqi-3);
                }

                & .aqi-4 {
                    background-color: var(--aqi-4);
                }

                & .aqi-5 {
                    background-color: var(--aqi-5);
                }
            }

            & .air-indices {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                place-items: center;

                & p {
                    text-align: center;
                }
            }

            & .sunrise-sunset {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                & .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    & h2 {
                        margin-top: 15px;
                    }
                }
            }

            & .card-item {
                display: flex;
                justify-content: space-between;
            }
        }

        & .hourly-forecast {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            column-gap: 10px;

            & .card {
                text-align: center;
            }
        }
    }
}

/* media query */

@media (max-width: 1100px) {
    .weather-data {
        grid-template-columns: repeat (3, 1fr);

        & .weather-right {
            grid-column: span 2;

            & .highlights {
                grid-template-columns: repeat(3, 1fr);

                & .card:nth-of-type(1) {
                    grid-column: span;
                }
            }

            & .hourly-forecast {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}

/* 1100 end */

@media (max-width: 1040px) {
    .weather-data {
        grid-template-columns: repeat(2, 1fr);

        & .weather-right {
            grid-column: span 1;

            & .highlights {
                grid-template-columns: repeat(2, 1fr);

                & .card:nth-of-type(1) {
                    grid-column: span 2;
                }
            }

            & .hourly-forecast {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

/* 1040 end */


@media (max-width: 992px) {
    .weather-data .weather-right .highlights {
        & .card {
            grid-column: span 2;
        }

        & .air-indices {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* 992 end */

@media(max-width: 850px) {
    .weather-data {
        grid-template-columns: 1fr;
        & .weather-right .highlights {
            & .card:nth-of-type(3),
            & .card:nth-of-type(4),
            & .card:nth-of-type(5),
            & .card:nth-of-type(6),
            & .card:nth-of-type(7) {
                grid-column: span 1;
            }
            & .air-indices{
                grid-template-columns:repeat(5, 1fr);
            }
        }
    }
}

/* 850 end */

@media(max-width: 770px) {
    .header {
        flex-direction: column;
        & h2 {
            margin-bottom: 8px;
        }
        & #city_input,
        #searchBtn,
        #locationBtn {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

/* 770 end */

@media (max-width: 580px) {
    .weather-data .weather-right .highlights .air-indices{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 580 end */
@media(max-width: 520px) {
    .weather-data .weather-right .highlights {

        & .card:nth-of-type(3),
        & .card:nth-of-type(4),
        & .card:nth-of-type(5),
        & .card:nth-of-type(6),
        & .card:nth-of-type(7) {
            grid-column: span 2;
        }
        & .air-indices {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* 520 end */

@media(max-width: 480px) {
    .weather-data .weather-right .highlights .sunrise-sunset {
        grid-template-columns: 1fr;
    }
}

/* 480 end */

@media(max-width: 450px) {
    .weather-data .weather-right .hourly-forecast {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 450 end */

@media(max-width: 380px) {
    .weather-data .weather-right .highlights .air-indices {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 380 end */